<ion-header>
  <ion-toolbar color =AC3B61>
    <ion-title id="titel">
      المكتبه
    </ion-title>
    <ion-icon   name="add" size="large" [routerLink]="['/tab2-b']"></ion-icon>
  </ion-toolbar>
  
</ion-header>

<ion-content>



  

  <ion-item >
    <ion-label>الماده</ion-label>
    <ion-select>
      <ion-select-option>رياضيات</ion-select-option>
      <ion-select-option>علوم</ion-select-option>
    </ion-select>
  </ion-item>


    <ion-item-divider></ion-item-divider>
    <!-- ---------------------->
  
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->


  
<ion-card id ="card1" >
  <ion-item   id ="card2" color=#EDC7B7>
   
    <ion-label>حصت زراعه</ion-label>
    <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
  </ion-item>

  <ion-card-content>
    <img src="/assets/sin.jpg" alt="" />
  </ion-card-content>
</ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->
  
  <ion-card id ="card1" >
    <ion-item   id ="card2" color=#EDC7B7>
     
      <ion-label>حصت زراعه</ion-label>
      <ion-button fill="outline" slot="end" [routerLink]="['/tab2-a']"> عرض</ion-button>
    </ion-item>

    <ion-card-content>
      <img src="/assets/sin.jpg" alt="" />
    </ion-card-content>
  </ion-card>

<!-- ---------------------->


</ion-content>
