
ion-toolbar{
    background-color: #AC3B61;
    text-align: left;
    color: white;
  } 

 #titel{
    color: white;
    
 }
  #card1{
    background-color: #EEE2DC;  
  }

  #card2{
    background-color: #EDC7B7;  
  }
  